.container {
    margin-top: 20px;
    width: 400px;
    padding: 10px;
}

.purchase-card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    padding: 1em;
}

.purchase-card>.show-grid {
    padding-bottom: 1.5em;
}

.item-details-button {
    background: none;
    color: #000000;
    border: none;
}

.item-details-button:hover {
    background: none;
    color: royalblue;
}

.item-details-button:focus {
    outline: none;
}

.collapse-item-details {
    margin-top: 10px;
}

.media-pad {
    padding: 20px;
    background-color: #f2f2f2;
}

.price-strike {
    text-decoration-line: line-through;
    color: grey;
}

.promo-code-button {
    background: none;
    color: #000000;
    border: none;
}

.promo-code-button:hover {
    background: none;
    color: royalblue;
}

.promo-code-button:focus {
    outline: none;
}

.media-content {
    padding-left: 20px;
}

.checkout-button {
    width: 370px;
}

.container-registration {
    margin-top: 20px;
    padding: 10px;
}

.registration-form {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2), 0 6px 20px 0 rgb(0, 0, 0, 0.19);
    padding: 1em;
}

.sign-up-container {
    background-color: #f1f1f1;
}

.sign-up-container h1 {
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
    color: #000000;
}

.order-btn {
    color: royalblue;
}

.mdb-container {
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 5px;
}

.pizza {
    margin-top: -50px;
}

.home-header {
    background-color: grey;
}

.home-header img {
    height: 600px;
}